body {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  color: #e6e6e6;
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.tooltip {
  position: absolute;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.tooltip .tooltiptext {
  margin-top: 80px;
  visibility: hidden;
  width: 200px;
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 10000;
}

.tooltip.active .tooltiptext {
  visibility: visible;
}

@font-face {
  font-family: 'piano-keyboard';
  src: url('icons/piano-keyboard.eot?nfc6q9');
  src: url('icons/piano-keyboard.eot?#iefixnfc6q9') format('embedded-opentype'), url('icons/piano-keyboard.woff?nfc6q9') format('woff'), url('icons/piano-keyboard.ttf?nfc6q9') format('truetype'), url('icons/piano-keyboard.svg?nfc6q9#piano-keyboard') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
Klick [class*=" icon-"] {
  font-family: 'piano-keyboard';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e600";
}

.icon-linkedin:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e603";
}

.hidden {
  visibility: hidden;
}

p {
  margin-bottom: 15px;
}

.wrap {
  position: relative;
}

label {
  font-size: 48px;
  font-style: arial;
}

hr {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.fork {
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
}

.share {
  height: 20px;
}

.social-media {
  list-style: none;
  margin: 0;
}

.social-media li {
  display: inline-block;
  margin: 0 2px;
}

.social-media a {
  transition: color .1s linear;
  color: #222;
  font-size: 20px;
}

.social-media a:hover {
  color: #777;
}

.comments {
  font-size: 12px;
}

ul {
  list-style-type: none;
}

.wlink a {
  color: #ddd;
  font-size: 12px;
}

.wlink a:hover {
  color: #11b0eb;
  font-size: 12px;
}

@media (max-width: 767px) {
  .fork {
    width: 30%;
  }
}

.piano {
  background: linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  border-top: 2px solid #111;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.5), inset 0 -4px 5px #000000;
  padding: 0 1% 3%;
  text-align: center;
}

.key {
  display: inline-block;
  position: relative;
  margin: 0 2px;
  width: 6%;
  max-width: 85px;
}

.key:active .black-key,
.key.active .black-key {
  top: -5px;
}

.key .white-key {
  background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: linear-gradient(-30deg, #f8f8f8, #ffffff);
  box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
  display: block;
  height: 300px;
}

.key .white-key:active,
.key .white-key.active {
  box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -5px;
  height: 295px;
}

.key .black-key {
  content: "";
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(-20deg, #222222, #000000, #222222);
  background: -moz-linear-gradient(-20deg, #222222, #000000, #222222);
  background: -o-linear-gradient(-20deg, #222222, #000000, #222222);
  background: linear-gradient(-20deg, #222222, #000000, #222222);
  border-width: 1px 3px 8px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  height: 160px;
  position: absolute;
  top: 0px;
  right: -40%;
  width: 70%;
  z-index: 10;
}

.key .black-key:active,
.key .black-key.active {
  border-bottom-width: 3px;
  top: 0;
}

@media (max-width: 767px) {
  .key {
    width: 8%;
  }

  .key:nth-child(1),
  .key:nth-child(2),
  .key:nth-child(3) {
    display: none;
  }
}

@media (max-width: 480px) {
  .key {
    width: 12%;
  }

  .key:nth-child(11),
  .key:nth-child(12),
  .key:nth-child(13),
  .key:nth-child(14) {
    display: none;
  }
}


/* abcjs Editor: https://paulrosen.github.io/abcjs/examples/editor.html */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2);
}


header {
  margin-bottom: 30px;
}

.container {
  max-width: 700px;
}

main {
  padding: 0;
}

fieldset {
  margin: 15px 0;
}

fieldset p {
  padding: 0;
  margin: 0;
  color: #6d6d6d;
  font-style: italic;
}

textarea {
  width: 100%;
  border: 2px solid currentColor;
  height: 200px;
  padding: 10px;
}

#warnings {
  color: #dd0000;
  padding: 5px 0;
}

#warnings:empty {
  display: none;
}

.audio-error {
  color: red;
  border: 2px solid red;
  padding: 10px;
}

pre,
span.code {
  padding: 5px;
  font-family: Monaco, monospace;
  border: 1px solid #ffffff;
}

a {
  color: currentColor;
}

a:visited {
  color: currentColor;
}

h1 {
  margin: 20px 0;
}

h2 {
  margin-bottom: 5px;
}

p {
  text-align: start;
}

input {
  font-size: 1em;
  accent-color: #63aeff;
  /* translate: -20px; */
}

button {
  margin: 0 4px;
  padding: 5px 10px;
  font-size: inherit;
  background: #ffffff;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(199, 199, 199);
  color: rgb(0, 0, 0);
  border-radius: 4px;
}


table {
  border-spacing: 0;
}

th {
  text-align: start;
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 16px 20px;
}

tr:nth-child(even) {
  background-color: #F6F8FA;
}

.table-header td {
  background: #adf3f3;
  font-size: 22px;
}


@media only screen and (min-width:700px) {

  header {
    max-width: 1000px;
    margin: 0 auto 30px auto;
    padding: 0 30px;
  }

  /* center content on wider screens */
  .container {
    margin: 0 auto;
    max-width: 770px;
  }

  h1 {
    text-align: center;
  }

  table {
    margin: 0 auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #121212;
  }

  .table-header td {
    color: #000000;
  }

  tr:nth-child(even) {
    background-color: #666666;
  }

  .visible-background svg {
    background: #404040;
  }
}