<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="../static/js/abcjs-basic.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../static/css/style.css" />
  <title>Simple Music Editor</title>
</head>

<body>
  <div id="app">
    <div v-if="config">
      <div class="note-selection">
        <ul class="piano">
          <li class="key" v-for="(keyG,keyGKey) in config.data">
            <span v-for="(key,keyKey) in keyG" :class="key.color+'-key'" :data-key="key.key" :data-note="key.note"
              @click="noteKeyPress(key)"></span>
          </li>
        </ul>
      </div>
      <div style="display: flex; justify-content: center">
        <button @click="noteDelete">Rückgängig</button>
      </div>
    </div>
    <div v-if="keyClicked">
      <div class="tooltip active">Piano
        <span class="tooltiptext">

          <h1>Notenwert</h1>

          <div>
            <input v-model="rhythm" type="radio" id="rhythm1" name="Noten" value="/8">
            <label for="rhythm1"> &nbsp;&nbsp;&#119136</label><br>
            <input v-model="rhythm" type="radio" id="rhythm2" name="Noten" value="/4">
            <label for="rhythm2"> &nbsp;&nbsp;&#119135</label><br>
            <input v-model="rhythm" type="radio" id="rhythm3" name="Noten" value="/2">
            <label for="rhythm3"> &nbsp;&nbsp;&#119134</label><br>
            <input v-model="rhythm" type="radio" id="rhythm4" name="Noten" value="/1">
            <label for="rhythm4"> &nbsp;&nbsp;&#119133</label><br><br>
            <button @click="noteSubmit">Eingeben</button>
          </div>



        </span>
      </div>
    </div>
    <div id="paper"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        config: null,
        notes: "X: 1\nT: Eine Komposition\nM: 4/4\nL: 1/1\nR: \nK: Cmaj\n",
        notesStart: "X: 1\nT: Eine Komposition\nM: 4/4\nL: 1/1\nR: \nK: Cmaj\n",
        ABCJS: ABCJS,
        keyClicked: false,
        rhythm: "/4",
        activeNote: false
      },
      methods: {
        async getConfig() {
          var data = await fetch("http://localhost:5000/data")
          this.config = await data.json();
        },
        noteKeyPress(key) {
          this.keyClicked = true
          this.notes += key.note
        },
        noteSubmit(key) {
          this.keyClicked = false
          activeNote = this.notes
          this.notes += this.rhythm
          this.ABCJS.renderAbc("paper", this.notes)
        },
        noteDelete() {
          if (!isNaN(this.notes.at(-4))) {
            this.notes = this.notes.slice(0, -3)
          } else if (this.notes == this.notesStart) {
            this.notes = this.notes
          } else {
            this.notes = this.notes.slice(0, -4)
          }
          this.ABCJS.renderAbc("paper", this.notes)
        }
      },
      created() {
        this.getConfig();
        var abc = new this.ABCJS.Editor("abc", {
          canvas_id: "paper",
          warnings_id: "warnings",
          abcjsParams: {},
        });
      }
    })
  </script>


</body>

</html>